
#bd{
background-color:beige;
background:url:(jamar.png);}


#hd{
background-color:orange;
width:;
height:;
padding:50px;
color:purple;
font-size:18px;
text-align:center;
line-height:24px;}

img{border-radius: 100px;
}


#bd{opacity:0.8;
}

#lnav{background-color:yellow;
border:2px solid blue;
line-height:200px;
width:200px;
height:700px;
padding:10px;
position:relative; right:15px;
z-index:11;
float:left;
}



#rnav{line-height:100px;
opacity:0.8;
padding:10px;
background-color:yellow;
border:2px solid blue;
margin;;
width:200px;
height:700;
position:relative; left:25px;
z-index:2000;
float:right;}


table{position:relative;top:12px;


#ft{text-align:center;
opacity:0.8;
background-color:crimson;
}

ul{}
